<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ePay 
        link(rel="stylesheet", href="css/style.css")


    body

        .cntrl_header
            header
                .main_header
                    .container
                        .line_header
                            .space_left_header
                                .icon_bars
                                    i.fas.fa-bars
                                a(href="#") opcion 
                                
                            .space_logo
                                .logo
                                    a(href="#")
                                        img(src="images/logo.png", alt="")
                            .space_right_header
                                a(href="#") opcion
                                .icon_srch
                                    i.fas.fa-search
                                    
                .space_menu
                    .menu
                        a(href="#") inicio
                            span
                        a(href="#") quienes somos
                            span
                        a(href="#") proyectos
                            span
                        a(href="#") servicios
                            span
                        a(href="#") contacto
                            span

        .first_look
            
            .titulo_first_look de forma eficaz
            p Al agilizar procesos de diseño y construccion, mejoramos la eficiencia de los proyectos reduciendo los tiempos de entrega y los costes para nuestros clientes, sin comprometer la calidad en ningun caso.        





        section.grd_imggs
            .grid_section
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_1.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_2.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_3.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_4.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_5.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_6.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_7.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_8.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_9.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_10.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_11.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_12.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_13.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_14.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_15.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_16.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_17.jpeg", alt="")
                a.square(href="#")
                    .contenctt_square
                        p Lorem, ipsum dolor.
                        p Lorem, ipsum dolor sit amet consectetur adipisicing.
                    .line_esquina texto
                    img(src="images/grid_images/img_18.jpeg", alt="")

        section.contact_indx
            .top_section_imags
                img(src="images/bgs-06.png", alt="")
            .content_contact1
                .top_contaccc
                    .txxt_contc
                        .tit_contc contactanos
                        p por telefono o 
                            a(href="#") email
                    .number +34 94 625-77-48
                .direcct
                    .box_direccts
                        h4 Bilbao
                        p Lorem ipsum dolor sit amet consectetur adipisicing.
                        a(href="#")
                            i.fas.fa-map-marker-alt
                            | Direccion

                    .box_direccts
                        h4 Madrid
                        p Lorem ipsum dolor sit amet consectetur adipisicing.
                        a(href="#")
                            i.fas.fa-map-marker-alt
                            | Direccion
            








        footer
        //- script(src="js/jquery.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="js/main.js")
        script(src="js/all.js")